.logo{
// display: block;

h4{
    font-size: 12px;
    // text-align: right;
    color: theme-color("primary") !important;
    text-decoration: underline !important;

}


}

//Modal customize 
.modal-open{

    .site-navbar{
        z-index: 0;
    }
}

// .modal-full {
//     min-width: 80vw;
//     margin: 0px auto;
// }

// .modal-full .modal-content {
//     min-height: 80vh;
// }

.form-control{
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba($gray-700, .5);
        font-weight: 200;
        font-style: italic;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba($gray-700, .5);
        font-weight: 200;
        font-style: italic;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba($gray-700, .5);
        font-weight: 200;
        font-style: italic;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba($gray-700, .5);
        font-weight: 200;
        font-style: italic;
    }
}